*{
    font-family:  'Roboto';
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*
#Signin_Error {
  display: none;
  font-size: 0.8em;
}

#Signin_Error.visible {
  display: block;
}

input.invalid {
  border-color: red;
}x§
*/

.mainh{
    color: #000000;
}

header{
    background-color: #366774;
}

li{
    list-style: none;
}

.nav-menu a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 15pt;
}

.navbar{
    min-height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.nav-branding img{
    min-width: 150px;
    max-width: 200px;
}

.nav-link{
    transition: 0.2s ease;
}

.nav-link:hover{
    color: #000000;
}

.hamburger{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.2s ease-in-out;
    background-color: white;
}

@media(max-width:1200px){
    .hamburger{
        display: block;
    }
    .nav-branding img{
    max-width: 20%;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu{
        position: fixed;
        left: -100%;
        top: 147px;
        gap: 0;
        flex-direction: column;
        background-color: #366774;
        width: 100%;
        text-align: center;
        transition: 0.4s;
        opacity: 0;
    }

    nav-item{
        margin: 16px 0;
    }

    .nav-menu.active{
        left: 0;
        background-color: #366774;
        opacity: 100;
    }

    #circle{
        position: relative;
        top: 265px;
        margin-left: -555px;
    }
    #third{
        position: relative;
        top: 115px;
        margin-left: -550px
    }
    #fourth{
        position: relative;
        top: 140px;
        margin-left: -550px
    }
    #wrapper{
        min-width: 417px;
    }


    /* profil.html */
    #profilbox{
        max-width: 750px;
        margin-top: 400px;
        margin-left: 25px;
    }

#profilbild{
position: relative;
left: 100px;
}

#name{
    min-width: 200px;
}

#mail{
    position: relative;
    margin-right: 220px;
}
}

button {
    background-color: #4c86af;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
 }

main{
    margin: 40px 100px 120px 25px;
 }

 footer{
    display: block;
    background-color: #333;
    height: 300px;
    width: 100%;
    padding: 10px;
    color: #eee;
}
#Username{
    font-weight: 3000;
    word-spacing: 150%;
}

#wrapper {
    max-width: 1000px;
    min-height: 690px;
    border: 1px solid black;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


#first {
    margin: 25px;
    margin-left: 100px;
    max-width: 600px;
    min-height: 70px;
    border: 1px solid black;
    padding: 10px;
}

#second {
    margin-right: 25px;
    margin-left: 100px;
    max-width: 600px;
    min-height: 70px;
    border: 1px solid black;
    padding: 10px;
    position: relative;
    bottom: 100px;
  }


#circle{
    width: 100px;
    height: 100px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    background: #4c86af;
    position: relative;
    left: 800px;
    bottom: 95px;

}

#third{
    margin-right: 25px;
    max-width: 200px;
    min-height: 70px;
    position: relative;
    left: 750px;
    bottom: 240px;
    border: 1px solid black;
    padding: 10px;
}

#fourth{
    margin-right: 25px;
    max-width: 200px;
    min-height: 50px;
    position: relative;
    left: 750px;
    bottom: 220px;
    border: 1px solid black;
    padding: 10px;
}

#einschreiben {
    margin-right: 25px;
    margin-top: 25px;
    margin-left: 100px;
    position: relative;
    bottom: 225px;
}

.dotts{
    width: 5px;
    height: 5px;
    -webkit-border-radius: 2.5px;
    -moz-border-radius: 2.5px;
    border-radius: 2.5px;
    background: #000000;
    margin: 5px;
    position: relative;
    bottom: 115px;
    left: 110px;
}

#fahrgemeinschaft{
    text-align: center;
}

/* profil.html */

#profilbild{
    width: 100px;
    height: 100px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    background: #4c86af;
    margin-bottom: 25px;
    position: relative;
    left: 50px;
}

#name{
    margin-right: 25px;
    max-width: 200px;
    min-height: 70px;
    margin-bottom: 25px;
    border: 1px solid black;
    padding: 10px;
}

#mail{
    margin-right: 25px;
    max-width: 200px;
    min-height: 50px;
    border: 1px solid black;
    padding: 10px;
}

#delete{
    margin-left: 0;
    margin-top: 25px;
}

#profilbox{
    max-width: 230px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#meininserat{
    margin: 25px;
    margin-left: 0px;
    max-width: 630px;
    min-height: 300px;
    border: 1px solid black;
    padding: 10px;
    min-width: 435px;
    position: absolute;
    bottom: 310px;
}
